<head>

  <meta charset="utf-8">
  <title>Soccer Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <%= stylesheet_link_tag "css/bootstrap" %>

  <!-- Loading Flat UI -->
  <%= stylesheet_link_tag "css/flat-ui" %>
  <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
  <div class="container">

  <h1>Listing products</h1>

    <div class="span12">
    <table>
      <tr>
        <th width="30%">Product name</th>
        <th width="40%">Description</th>
        <th width="5%">Price</th>
        <th width="5%">Quantity</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td class="span1"><%= link_to 'Show', product, :class => "btn btn-large btn-block" %></td>
        <td class="span1"><%= link_to 'Edit', edit_product_path(product), :class => "btn btn-large btn-block btn-primary" %></td>
        <td class="span1"><%= link_to 'Destroy', product, :class => "btn btn-large btn-block btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <%= link_to 'New Product', new_product_path %>

    <br />
  </div>
</body>


